.vaccination-by-age-bg-container {
  background-color: #1c1c2b;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.vaccination-coverage-heading {
  text-align: left;
}

.heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
